<img src="/images/yelp_footer.png" />
<p>Copyright &copy; 2004-2017 Yelp Inc. Yelp, and related marks are registered trademarks of Yelp.</p>
<p>Clone created by Timmy Lee for the purposes of practice</p>
