<div id="header">
  <img class="main_logo" src="/images/yelp_logo.png" />
  <a href="#" class="btn btn-primary">Sign Up</a>
</div>

<nav>
  <ul>
    <li><a href="#">Businesses</a></li>
    <li><a href="#">Add a business</a></li>
    <li><a href="#">Recent Reviews</a></li>
    <li><a href="#">Log In</a></li>
  </ul>
</nav>
