<section id="restaurant_info">
  <div id="header" class="row">
    <div id="left" class="col-sm-6">
      <h1>Omakase</h1>
      <span class="stars stars_5_large"></span>
      <span class="review_count">212 reviews</span>
      <p>$$$$</p>
    </div>
    <div id="right">
      <a href="#" class="btn btn-default">Write a review</a>
    </div>
  </div>

  <div id="body" class="row">
    <ul id="reviews" class="col-md-9">
      <li class="row review">
        <div class="reviewer col-md-3">
          <img src="https://placehold.it/60x60" />
          <div class="reviewer_info">
            <a href="">Patricia L.</a>
            <p><span>5</span> reviews</p>
          </div>
        </div>

        <div class="review_details col-md-9">
          <span class="stars stars_5_small"></span>
          <span class="date">03/28/2017</span>
          <p>tl;dr Hands down the best quality of fish I have ever had.  You also pay a pretty price for it though so if willing to splurge and indulge it is definitely worth trying.</p>
        </div>
      </li>

      <li class="row review">
        <div class="reviewer col-md-3">
          <img src="https://placehold.it/60x60" />
          <div class="reviewer_info">
            <a href="">Alice T.</a>
            <p><span>912</span> reviews</p>
          </div>
        </div>

        <div class="review_details col-md-9">
          <span class="stars stars_5_small"></span>
          <span class="date">12/18/2016</span>
          <p>Great omakase experience with artistically prepared food and a fun staff who didn't take themselves too seriously. We had Chef Sam who was so funny and a little bit goofy. You can tell that the staff is like a little family with a lot of good-hearted teasing. With that said, the staff was very professional and introduced each dish to us beforehand and provided tips for eating, if needed.</p>
        </div>
      </li>

      <li class="row review">
        <div class="reviewer col-md-3">
          <img src="https://placehold.it/60x60" />
          <div class="reviewer_info">
            <a href="">Linda L.</a>
            <p><span>33</span> reviews</p>
          </div>
        </div>

        <div class="review_details col-md-9">
          <span class="stars stars_3_small"></span>
          <span class="date">02/04/2017</span>
          <p>Recommendation of the day: Not to try it unless you have $200 to waste.
            Pros:
- Our host and the waitress was friendly and explained every entree to us.
- It was easy to find street parking. Tons of spots in front the restaurant especially if you go in the evening or the weekend.

Cons:
- Nothing was memorable after dropping four bills for two people.
- A couple of their sashimi/nigiri didn't taste fresh. Maybe because I went the day after Christmas.
- Couple of their course was ridiculous. Are you really going to stack two thin slices of Japanese potatoes on top of slice carrot in some weird sauce and count it as one of my course....Another "course" was just lobster broth but no lobster piece..

P.S. I can here on my birthday and was very disappointed with the food especially since it's been on my list of sushi places I want to try for awhile now.

In the month of December, I also tried Wako in SF and Warikuya in San Mateo. Both were much better and cheaper! These two places deserve their Michelin star..idk about Omasake..still disappointed thinking about the place right now. -.-</p>
        </div>
      </li>
    </ul>

    <div id="hours" class="col-md-3">
      <h2>Hours</h2>
      <div class="row">
        <ul class="col-xs-4">
          <li>Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
          <li>Sun</li>
        </ul>
        <ul id="hours">
          <li>5:00pm-9:30pm</li>
          <li>5:00pm-9:30pm</li>
          <li>5:00pm-9:30pm</li>
          <li>5:00pm-9:30pm</li>
          <li>5:00pm-9:30pm</li>
          <li>5:00pm-9:30pm</li>
          <li>5:00pm-9:30pm</li>
        </ul>
      </div>
    </div>

  </div>
</section>
