<ul id="ui_directory">
  <li><a href="/ui/index">Index</a></li>
  <li><a href="/ui/create_business">Create a business</a></li>
  <li><a href="/ui/sign_up">User Registration</a></li>
  <li><a href="/ui/sign_in">User Sign In</a></li>
  <li><a href="/ui/business_view">View a business (Includes Reviews and addin reviews)</a></li>
  <li><a href="/ui/user_profiles">User Profile</a></li>
</ul>
