<section id="restaurants">
  <div class="restaurant">
    <div class="main_info">
      <img src="https://placehold.it/90x90" class="restaurant_image"/>
      <div class="sub_info">
        <h2><a href="#" class>1. Omakase</a></h2>
        <span class="stars stars_5_medium"></span>
        <span class="total_reviews">225 reviews</span>
        <p>$$$$</p>
      </div>

      <div class="address">
        <p class="neighborhood">SoMa</p>
        <p class="address_street">665 Townsend St</p>
        <p class="address_city">San Francisco, CA 94134</p>
        <p class="phone_number">(415) 865-0633</p>
      </div>
    </div>

    <div class="last_review">
      <img src="https://placehold.it/30x30" class="user_avatar" />
      <span>tl;dr Hands down the best quality of fish I have ever had.  You also pay a pretty price for it though so if willing to splurge and indulge it is definitely worth trying</span>
    </div>
  </div>

  <div class="restaurant">
    <div class="main_info">
      <img src="https://placehold.it/90x90" class="restaurant_image"/>
      <div class="sub_info">
        <h2>1. Omakase</h2>
        <span class="stars stars_5_medium"></span>
        <span class="total_reviews">225 reviews</span>
        <p>$$$$</p>
      </div>

      <div class="address">
        <p class="neighborhood">SoMa</p>
        <p class="address_street">665 Townsend St</p>
        <p class="address_city">San Francisco, CA 94134</p>
        <p class="phone_number">(415) 865-0633</p>
      </div>
    </div>

    <div class="last_review">
      <img src="https://placehold.it/30x30" class="user_avatar" />
      <span>tl;dr Hands down the best quality of fish I have ever had.  You also pay a pretty price for it though so if willing to splurge and indulge it is definitely worth trying</span>
    </div>
  </div>
</section>
