<form id="sign_in">
  <h2>Sign In</h2>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-default">Log in</button>
</form>
