<section id="profile">
  <div id="header">
    <img src="https://placehold.it/215x215" />
    <div id="user_details">
      <h1>Kevin X.</h1>
      <p><span>33</span> Reviews</p>
      <p>Yelping since September 2012</p>
    </div>
  </div>

  <ul id="reviews">
    <li>
      <img src="https://placehold.it/60x60" />
      <div class="business">
        <h2><a href="">Wakuriya</a></h2>
        <span>$$$$</span>
        <p>115 De Anza Blvd</p>
        <p>San Mateo, CA 94402</p>
      </div>
      <div class="review">
        <p>
          <span class="stars stars_4_medium"></span>
          <span>02/10/2017</span>
        </p>
        <p>Recommendation of the day: Definitely try this one star Michelin Japanese restaurant ! I think a 9 courses meal for $98/pp isn't too bad. Pros:
        -The sweet lady server always smile when she served the courses to us and even offered to take a photo for my friend and I!
        -Small restaurant with 16 seats which made it felt little cozy.
        -They gave a cute little complimentary ice cream since it was a birthday celebration.
        - My favorite dish was the foie gras in egg custard!
        </p>

      </div>
    </li>
    <li>
      <img src="https://placehold.it/60x60" />
      <div class="business">
        <h2><a href="">Wakuriya</a></h2>
        <span>$$$$</span>
        <p>115 De Anza Blvd</p>
        <p>San Mateo, CA 94402</p>
      </div>
      <div class="review">
        <p>
          <span class="stars stars_1_medium"></span>
          <span>02/10/2017</span>
        </p>
        <p>Recommendation of the day: Definitely try this one star Michelin Japanese restaurant ! I think a 9 courses meal for $98/pp isn't too bad. Pros:
        -The sweet lady server always smile when she served the courses to us and even offered to take a photo for my friend and I!
        -Small restaurant with 16 seats which made it felt little cozy.
        -They gave a cute little complimentary ice cream since it was a birthday celebration.
        - My favorite dish was the foie gras in egg custard!
        </p>

      </div>
    </li>
  </ul>
</section>
